.title {
  margin-bottom: 30px;
  
  font-family: $title-font;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @include mq(tablet) {
    margin-bottom: 70px;
    font-size: 34px;
  }
  @include mq(desktop) {
    margin-bottom: 120px;
    font-size: 36px;
  }
}
