.modal-title__franchise {
  font-size: 15px;

  @include mq(tablet) {
    width: 300px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 25px;

  }
}

.franchise__text {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 25px;

  @include mq(tablet) {
    font-size: 16px;
    margin-bottom: 30px;
   }


}

