.finish-order {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: $primary-bg-color;

  @include mq(tablet) {
    flex-direction: row;
  }
}

.text-finish:first-child {
  @include mq(tablet) {
    margin-right: 10px;
  }
}

.text-finish {
  font-size: 20px;
  font-weight: 700;
}
