<section class="about">
    <div class="about-container container">

        <p class="about__lable lable">tradition and love</p>
        <h2 class="about__title title">how it’s made?</h2>

        <div class="about__picture">
            <div class="about__picture-circle"></div>
            <picture class="about__picture-row">
                <source media="(min-width: 1200px)" srcset="/src/images/desktop/advantages/cow_desk_x1.jpg 1x, /src/images/desktop/advantages/cow_desk_x2.jpg 2x" type="image/jpg">
                <source media="(min-width: 768px)" srcset="/src/images/tablet/advantages/cow_tabl_x1.jpg 1x, /src/images/tablet/advantages/cow_tabl_x2.jpg 2x" type="image/jpg">
                <source media="(max-width: 767px)" srcset="/src/images/mobile/advantages/cow_mob_x1.jpg 1x, /src/images/mobile/advantages/cow_mob_x2.jpg 2x" type="image/jpg">
                <img src="/src/images/mobile/advantages/cow_mob_x1.jpg" loading="lazy" alt="milk cow">
            </picture>
        </div>

        <div class="about-info">
            <ul class="about-list">
                <li class="about-list__item">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us,
                and we follow it when creating our handmade desserts.</li>
                <li class="about-list__item">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to
                    children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
                    milkshakes.</li>
                <li class="about-list__item">This is enough to choose ice cream and coffee for any mood!</li>
            </ul>
            <button class="about-btn btn_solid">Read more
                    <svg aria-label="small_arrow" width="12" height="12">
                    <use href="./images/symbol-defs.svg#icon-small_arrow_right"></use>
            </button>
        </div>
        

    </div>
</section>