<section id="about" class="about">
  <div class="about-container container">
    <p class="about__lable lable">tradition and love</p>
    <h2 class="about__title title">how it’s made?</h2>

    <div class="about-wrapper">
      <div class="about-picture">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/about/cow_desk_x1.jpg 1x,
              ./images/desktop/about/cow_desk_x2.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/about/cow_tabl_x1.jpg 1x,
              ./images/tablet/about/cow_tabl_x2.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/about/cow_mob_x1.jpg 1x,
              ./images/mobile/about/cow_mob_x2.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-picture__row"
            src="./images/mobile/about/cow_mob_x1.jpg"
            loading="lazy"
            alt="milk cow"
          />
        </picture>
        <div class="about-picture__circle"></div>
      </div>
      <div class="about-info">
        <ul class="about-list">
          <li class="about-list__item">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </li>
          <li class="about-list__item">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </li>
          <li class="about-list__item">
            This is enough to choose ice cream and coffee for any mood!
          </li>
        </ul>
        <button class="about-btn btn-solid">
          Read more
          <svg
            class="about-btn__icon"
            aria-label="small_arrow"
            width="12"
            height="12"
          >
            <use href="./images/symbol-defs.svg#icon-small_arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
