<section class="advantages">
  <div class="advantages_container container">
    <h2 class="title visually-hidden">Advantager of icecream</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <div class="advantages-list__point">
          <div class="advantages-list__icon-block">
            <svg
              class="advantages-list__bild"
              aria-label="cow"
              width="36"
              height="36"
            >
              <use
                class="advantages-list__icon"
                href="./images/symbol-defs.svg#icon-cow"
              ></use>
            </svg>
          </div>

          <p class="advantages-list__info">721</p>
          <p class="advantages-list__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__point">
          <div class="advantages-list__icon-block">
            <svg
              class="advantages-list__bild"
              aria-label="weight"
              width="29"
              height="35"
            >
              <use
                class="advantages-list__icon"
                href="./images/symbol-defs.svg#icon-weight"
              ></use>
            </svg>
          </div>

          <p class="advantages-list__info">16kg</p>
          <p class="advantages-list__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__point">
          <div class="advantages-list__icon-block">
            <svg
              class="advantages-list__bild"
              aria-label="ice-cream"
              width="17"
              height="36"
            >
              <use
                class="advantages-list__icon"
                href="./images/symbol-defs.svg#icon-ice_cream"
              ></use>
            </svg>
          </div>

          <p class="advantages-list__info">84</p>
          <p class="advantages-list__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
