<section class="contacts">
    <div class="container contacts_container">

        <ul class="contacts-list">
            <li class="contacts-list__item">

                <div class="contacts-list__institution">
                    <p class="contacts-list__name">CAFE</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city">Chicago</p>
                    <address class="contacts-list__address">
                        <a href="http://surl.li/gpjxj" target="_blank" rel="noopen noreferrer">10340 Ridgeland Ave,
                            Chicago Ridge, IL 60415, USA</a>
                    </address>
                </div>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days">Monday - Friday</p>
                        <time class="contacts-list__time">06:00 AM - 10:00 PM</time>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <time class="contacts-list__time">08:00 AM - 16:00 PM</time>
                    </div>
                </div>

                <div class="contacts-list__connection">
                    <a class="contacts-list__phone" href="tell:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-list_imale" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts-list__item">

                <div class="contacts-list__institution">
                    <p class="contacts-list__name">FOOD TRUCK</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city">Los Angeles</p>
                    <address class="contacts-list__address">
                        <a href="http://surl.li/gpkad" target="_blank" rel="noopen noreferrer">1003 Manhattan Ave,
                            Manhattan Beach, CA 90263, USA</a>
                    </address>
                </div>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days">Monday - Friday</p>
                        <time class="contacts-list__time">06:00 AM - 10:00 PM</time>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <time class="contacts-list__time">08:00 AM - 16:00 PM</time>
                    </div>
                </div>

                <div class="contacts-list__connection">
                    <a class="contacts-list__phone" href="tell:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-list_imale" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts-list__item">

                <div class="contacts-list__institution">
                    <p class="contacts-list__name">CAFE</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city">New York</p>
                    <address class="contacts-list__address">
                        <a href="http://surl.li/gpkap" target="_blank" rel="noopen noreferrer">726 Sterling Pl,
                            Brooklyn, NY 11222, USA</a>
                    </address>
                </div>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days">Monday - Friday</p>
                        <time class="contacts-list__time">06:00 AM - 10:00 PM</time>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <time class="contacts-list__time">08:00 AM - 16:00 PM</time>
                    </div>
                </div>

                <div class="contacts-list__connection">
                    <a class="contacts-list__phone" href="tell:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-list_imale" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="container contacts-buttons_container ">
        <ul class="contacts-buttons">
            <li class="contacts-buttons__item">
                <button class="contacts-buttons__locations">Our Locations
                    <svg aria-label="small_arrow" width="12" height="12">
                        <use href="./images/symbol-defs.svg#icon-small_arrow_right"></use>
                </button>
            </li>
            <li class="contacts-buttons__item">
                <button class="contacts-buttons__franchise">Franchise
                    <svg aria-label="small_arrow" width="12" height="12">
                        <use href="./images/symbol-defs.svg#icon-small_arrow_right"></use>
                </button>
            </li>
        </ul>
    </div>
</section>