<section class="contacts">
    <div class="container contacts_container">

        <ul class="contacts-list">
            <li class="contacts-list__item">
                <div class="contacts-list__institution">
                    <p class="contacts-list__name">CAFE</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city">Chicago</p>
                    <p class="contacts-list__address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                </div>

                <hr/>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days">Monday - Friday</p>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>

                <hr/>

                <div class="contacts-list__connection">
                    <p class="contacts-list__phone">+61(0) 383 766 284</p>
                    <p class="contacts-list_imale">noreply@envato.com</p>
                </div>

            </li>

            <li class="contacts-list__item">
                <div class="contacts-list__institution">
                    <p class="contacts-list__name">FOOD TRUCK</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city">Los Angeles</p>
                    <p class="contacts-list__address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
                </div>

                <hr/>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days">Monday - Friday</p>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>

                <hr/>

                <div class="contacts-list__connection">
                    <p class="contacts-list__phone">+61(0) 383 766 284</p>
                    <p class="contacts-list_imale">noreply@envato.com</p>
                </div>
            </li>

            <li class="contacts-list__item">
                <div class="contacts-list__institution">
                    <p class="contacts-list__name">CAFE</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city">New York</p>
                    <p class="contacts-list__address">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
                </div>

                <hr/>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days">Monday - Friday</p>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>

                <hr/>

                <div class="contacts-list__connection">
                    <p class="contacts-list__phone">+61(0) 383 766 284</p>
                    <p class="contacts-list_imale">noreply@envato.com</p>
                </div>
            </li>
        </ul>
    </div>
</section>