<section  class="contacts">
    <div id="contacts" class="container contacts_container">
        <h2 class="title visually-hidden">Contacts of icecream</h2>
        <ul class="contacts-list">
            <li class="contacts-list__item">

                <div class="contacts-list__institution contacts-list__institution_first_item">
                    <p class="contacts-list__name contacts-list__font">CAFE</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city contacts-list__font">Chicago</p>
                    <address>
                        <a class="contacts-list__address contacts-list__font" href="http://surl.li/gpjxj"
                            target="_blank" rel="noopen noreferrer">10340 Ridgeland Ave, <br>
                            Chicago Ridge, IL 60415, USA</a>
                    </address>
                </div>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days contacts-list__font">Monday - Friday</p>
                        <p class="contacts-list__time contacts-list__font" id="time">
                            <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 PM</time>
                        </p>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <p class="contacts-list__time" id="time">
                            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time>
                        </p>
                    </div>
                </div>

                <div class="contacts-list__connection">
                    <a class="contacts-list__phone contacts-list__font" href="tell:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-list_email contacts-list__font"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts-list__item">

                <div class="contacts-list__institution contacts-list__institution_second_item">
                    <p class="contacts-list__name contacts-list__font">FOOD TRUCK</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city contacts-list__font">Los Angeles</p>
                    <address>
                        <a class="contacts-list__address contacts-list__font" href="http://surl.li/gpkad"
                            target="_blank" rel="noopen noreferrer">1003 Manhattan Ave,
                            Manhattan Beach, CA 90263, USA</a>
                    </address>
                </div>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days contacts-list__font">Monday - Friday</p>
                        <p class="contacts-list__time contacts-list__font" id="time">
                            <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 PM</time>
                        </p>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <p class="contacts-list__time" id="time">
                            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time>
                        </p>
                    </div>
                </div>

                <div class="contacts-list__connection">
                    <a class="contacts-list__phone contacts-list__font" href="tell:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-list_email contacts-list__font"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts-list__item">

                <div class="contacts-list__institution contacts-list__institution_third_item">
                    <p class="contacts-list__name contacts-list__font">CAFE</p>
                </div>

                <div class="contacts-list__place">
                    <p class="contacts-list__city contacts-list__font">New York</p>
                    <address>
                        <a class="contacts-list__address contacts-list__font" href="http://surl.li/gpkap"
                            target="_blank" rel="noopen noreferrer">726 Sterling Pl,
                            Brooklyn, NY 11222, USA</a>
                    </address>
                </div>

                <div class="contacts-list__schedule">
                    <div class="contacts-list__weekdays">
                        <p class="contacts-list__days contacts-list__font">Monday - Friday</p>
                        <p class="contacts-list__time contacts-list__font" id="time">
                            <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 PM</time>
                        </p>
                    </div>

                    <div class="contacts-list__weekend">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <p class="contacts-list__time" id="time">
                            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time>
                        </p>
                    </div>
                </div>

                <div class="contacts-list__connection">
                    <a class="contacts-list__phone contacts-list__font" href="tell:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-list_email contacts-list__font"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="contacts-buttons">
        <ul class="contacts-buttons__list">
            <li class="contacts-buttons__item">
                <button id="contacts-buttons__locations">
                    <span>Our Locations</span>                    
                    <svg aria-label="small_arrow" width="12" height="10"                    ">
                        <use href="./images/symbol-defs.svg#icon-small_arrow_right"></use>
                </button>
            </li>
            <li class="contacts-buttons__item">
                <button id="contacts-buttons__franchise">
                    <span>Franchise</span> 
                    <svg aria-label="small_arrow" width="12" height="10">
                        <use href="./images/symbol-defs.svg#icon-small_arrow_right"></use>
                </button>
            </li>
        </ul>
    </div>
</section>