<footer class="footer container">
  <div class="footer_container container">
    <div class="footer-content">
      <h2 class="footer-title">
        homemade ice cream made
        <span class="footer-title__subtext">with passion</span>
      </h2>
      <div class="">
        <ul class="social">
          <li class="social-link">
            <a href="https://github.com/">
              <svg class="icon" aria-label="" width="" height="">
                <use href="./images/symbol-defs.svg#icon-git"></use>
              </svg>
              github</a
            >
          </li>
          <li class="social-link">
            <a href="https://web.telegram.org/k/">
              <svg class="icon" aria-label="" width="" height="">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
              telelgram</a
            >
          </li>
          <li class="social-link">
            <a href="https://www.facebook.com/">
              <svg class="icon" aria-label="" width="" height="">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
              facebook</a
            >
          </li>
        </ul>
        <p class="">
          Feel free to contact
          <a href="tel:+610383766284" class="">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>

    <p class="copyright">
      &copy; 2023 - IceCream. All Rights Reserved | Developed by student team
      <button class="">“REDUCE”</button>
    </p>
  </div>
</footer>
