<section class="container hero-container">
  <div class="hero-content">
    <h1>ice cream made with passion</h1>
    <button id="#" class="btn-border">Products</button>
    <button id="#" class="btn-nonborder">How it’s made?</button>
  </div>
  <ul class="establishments">
    <li class="establishments__item">
      <p class="establishments__num">16</p>
      <p class="establishments__descr">cafes</p>
    </li>
    <li class="establishments__item">
      <p class="establishments__num">23</p>
      <p class="establishments__descr">food trucks</p>
    </li>
  </ul>
  <div class="offer">
    <p class="offer__descr">
      Indulge in a scoop of ice cream made with passion and treat your taste
      buds to an unforgettable experience!
    </p>
    <a href="#" class="offer__link"></a>
  </div>
  <picture class="hero-img1">
    <source
      media="(min-width 1280px)"
      srcset="images/desktop/hero/dots_deskX1.png 1x, images/desktop/hero/dots_deskX2.png 2x"
      type="image/png"
    />
    <source
      media="(min-width 768px)"
      srcset="images/tablet/hero/dots_tablX1.png 1x, images/tablet/hero/dots_tablX2.png 2x"
      type="image/png"
    />
    <source
      media="(max-width 767px)"
      srcset="images/mobile/hero/dots_mobX1.png 1x, images/mobile/hero/dots_mobX2.png 2x"
      type="image/png"
    />
    <img src="images/mobile/hero/dots_mobX1.png" alt="dots" width="320" height="50"/>
  </picture>
  <picture class="hero-img2"></picture>
  <picture class="hero-img3"></picture>
</section>

<!-- <picture class="header__picture">
  <source
    media="(min-width 1280px)"
    srcset="
      /src/images/header/LogoretinaX2.png 1x,
      /src/images/header/LogoretinaX2.png 2x
    "
    type="image/png"
  />
  <source
    media="(min-width 768px)"
    srcset="
      /src/images/header/LogoretinaX2.png 1x,
      /src/images/header/LogoretinaX2.png 2x
    "
    type="image/png"
  />
  <source
    media="(max-width 767px)"
    srcset="
      /src/images/header/LogoretinaX2.png 1x,
      /src/images/header/LogoretinaX2.png 2x
    "
    type="image/png"
  />
  <img src="/src/images/header/LogodescX1.png" alt="logo icecream" />
</picture> -->
