<section id="hero" class="hero">
  <div class="hero-container container">
    <div class="hero-content">
      <h1>ice cream made with <span>passion</span></h1>
      <ul class="hero-content__button">
        <li>
          <button id="#" class="btn-border">Products</button>
        </li>
        <li>
          <button id="#" class="btn-nonborder">How it’s made?</button>
        </li>
      </ul>
    </div>
    <ul class="establishments">
      <li class="establishments__item">
        <p class="establishments__num">16</p>
        <p class="establishments__descr">cafes</p>
      </li>
      <li class="establishments__item">
        <p class="establishments__num">23</p>
        <p class="establishments__descr">food trucks</p>
      </li>
    </ul>
    <div class="offer">
      <picture class="hero-img1">
        <source
          media="(min-width: 1200px)"
          srcset="
            images/desktop/hero/moreice_desk_x1.png 1x,
            images/desktop/hero/moreice_desk_x2.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            images/tablet/hero/moreice_tabl_x1.png 1x,
            images/tablet/hero/moreice_tabl_x2.png 2x
          "
          type="image/png"
        />
        <img
          src="/src/images/tablet/hero/moreice_tabl_x1.png"
          loading="lazy"
          alt="dots"
        />
      </picture>
      <div class="offer__content">
        <p class="offer__descr">
          Indulge in a scoop of ice cream made with passion and treat your taste
          buds to an unforgettable experience!
        </p>
        <button href="#" class="offer__btn">
          <svg aria-label="weight" width="42" height="16">
            <use href="./images/symbol-defs.svg#icon-big_arrow_right"></use> 
          </svg>
        </button>
      </div>
    </div>
    <picture class="hero-img2">
      <source
        media="(min-width: 1200px)"
        srcset="
          images/desktop/hero/dots_desk_x1.png 1x,
          images/desktop/hero/dots_desk_x2.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/tablet/hero/dots_tabl_x1.png 1x,
          images/tablet/hero/dots_tabl_x2.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/mobile/hero/dots_mob_x1.png 1x,
          images/mobile/hero/dots_mob_x2.png 2x
        "
        type="image/png"
      />

      <img
        src="/src/images/mobile/hero/dots_mob_x1.png"
        loading="lazy"
        alt="dots"
      />
    </picture>
    <picture class="hero-img3">
      <source
        media="(min-width: 1200px)"
        srcset="
          images/desktop/hero/icecream_desk_x1.png 1x,
          images/desktop/hero/icecream_desk_x2.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/tablet/hero/icecream_tabl_x1.png 1x,
          images/tablet/hero/icecream_tabl_x2.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 480px)"
        srcset="
          images/mobile/hero/icecream_mob480_X1.png 1x,
          images/mobile/hero/icecream_mob480_X2.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 479px)"
        srcset="
          images/mobile/hero/icecream_mob320_X1.png 1x,
          images/mobile/hero/icecream_mob320_X2.png 2x
        "
        type="image/png"
      />
      <img
        src="/src/images/mobile/hero/icecream_mob320_X1.png"
        loading="lazy"
        alt="dots"
      />
    </picture>
  </div>
</section>
