<div class="container">
  <section class="hero">
    <div class="content">
      <h1>ice cream made with passion</h1>
      <button>
        <a href="#products">Products</a>
      </button>
      <button>
        <a href="#about">How it’s made?</a>
      </button>
    </div>
    <div>
      <p>16 cafes</p>
      <p>23 food trucks</p>
    </div>
    <p>
      Indulge in a scoop of ice cream made with passion and treat your taste
      buds to an unforgettable experience!
    </p>
    <button>
      <a href="#">arrow</a>
    </button>
  </section>
</div>
