<div class="div_products_container">
    <section class="sec_products_container">

        <div class="products_title title">
            <h3 class="h3 h3_title">100% natural</h3>
            <h2 class="h2 h2_title">products</h2>
        </div>

        <div class="lower_part_products">
            <div class="descr_container container1">

                <div class="imgs_container">
                    <img class="pic_of_ice_cream" src="./images/products/ice cream.png" alt="picture of ice cream">
                    <img class="pic_of_ellipce" src="./images/products/green al.png" alt="green ellipse">
                </div>    
    
                <div class="rect_container green_rect">
                    <img class="pict_og_rect" src="./images/products/green rec.png" alt="green layout">
                </div>
    
                <div class="descr_container about_ice_cream">
                    <h3 class="h3_ice_cream">ice cream</h3>
                    <p class="p_ice_cream_descr">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                    <button class="product_button">тут должна быть стрелка</button>
                </div>
            </div>
        </div>
        
    </section>
</div>