<section id="products" class="products">
    <div class="container products_container">
        <p class="products__lable lable">100% natural</p>
        <h2 class="products__title title">products</h2>

        <ul class="products-list">
            <li class="products-list__item">
                <picture class="products-list__picture">
                    <source media="(min-width: 1200px)" srcset="
              ./images/desktop/products/ice-cream_desk_x1.jpg,
              ./images/desktop/products/ice-cream_desk_x2.jpg
            " type="image/jpg" />
                    <source media="(max-width: 1199px)" srcset="
              ./images/tablet/products/ice-cream_tabl_mob_x1.jpg,
              ./images/tablet/products/ice-cream_tabl_mob_x2.jpg
            " type="image/jpg" />
                    <img class="products-list__picture_img" src="./images/tablet/products/ice-cream_tabl_mob_x1.jpg"
                        alt="ice cream" loading="lazy" />
                </picture>
                <div class="products-list__layer products-list__layer_green">
                    <!-- через backgroun и закругление -->
                </div>

                <div class="products-list__card products-list__card_green">
                    <div>
                        <h3 class="products-list__title">ice cream</h3>
                        <p class="products-list__descriptin">
                            Soft ice cream with a delicate taste. Made with milk, cream, sugar
                            and natural stabilizer
                        </p>
                    </div>

                    <button class="products-list__button">
                        <svg class="products-list__icon" aria-label="weight" width="42" height="16">
                            <use href="./images/symbol-defs.svg#icon-big_arrow_right"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products-list__item">
                <picture class="products-list__picture">
                    <source media="(min-width: 1200px)" srcset="
              ./images/desktop/products/ice-coffee_desk_x1.jpg,
              ./images/desktop/products/ice-coffee_desk_x2.jpg
            " type="image/jpg" />
                    <source media="(max-width: 1199px)" srcset="
              ./images/tablet/products/ice-coffee_tabl_mob_x1.jpg,
              ./images/tablet/products/ice-coffee_tabl_mob_x2.jpg
            " type="image/jpg" />
                    <img class="products-list__picture_img" src="./images/tablet/products/ice-coffee_tabl_mob_x1.jpg"
                        alt="ice cream" loading="lazy" />
                </picture>

                <div class="products-list__layer products-list__layer_yellow">
                    <!-- через backgroun и закругление -->
                </div>

                <div class="products-list__card products-list__card_yellow">
                    <div>
                        <h3 class="products-list__title">ice coffee</h3>
                        <p class="products-list__descriptin">
                            Fragrant invigorating drink created from 100% natural ingredients
                            without the use of preservatives and flavor enhancers
                        </p>
                    </div>
                    <button class="products-list__button">
                        <svg class="products-list__icon" aria-label="weight" width="42" height="16">
                            <use href="./images/symbol-defs.svg#icon-big_arrow_right"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products-list__item">
                <picture class="products-list__picture">
                    <source media="(min-width: 1200px)" srcset="
              images/desktop/products/milshake_desk_x1.jpg,
              images/desktop/products/milshake_desk_x2.jpg
            " type="image/jpg" />
                    <source media="(max-width: 1199px)" srcset="
              images/tablet/products/milshake_tabl_mob_x1.jpg,
              images/tablet/products/milshake_tabl_mob_x2.jpg
            " type="image/jpg" />
                    <img class="products-list__picture_img" src="images/tablet/products/milshake_tabl_mob_x1.jpg"
                        alt="ice cream" />
                </picture>

                <div class="products-list__layer products-list__layer_orange">
                    <!-- через backgroun и закругление -->
                </div>

                <div class="products-list__card products-list__card_orange">
                    <div>
                        <h3 class="products-list__title">milkshakes</h3>
                        <p class="products-list__descriptin">
                            Sweet drinks based on milk and ice cream, supplemented with syrups,
                            fruits, berries and other sweets of your choice
                        </p>
                    </div>

                    <button class="products-list__button">
                        <svg class="products-list__icon" aria-label="weight" width="42" height="16">
                            <use href="./images/symbol-defs.svg#icon-big_arrow_right"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>