<div class="backdrop">
  <div class="modal buynow-modal">
    <div class="moda-block">
      <h2 class="modal-buynow__title"></h2>
      <button class="btn-close fa-solid fa-xmark"></button>
      <ul class="modal-buynow__items">
        <li class="modal-buynow__item">
          <img class="modal-buynow__item--img" src="" alt="" />
          <div class="modal-buynow__item--background modal-buynow__green"></div>
          <div class="modal-buynow__item--container">ICE CREAM</div>
        </li>
        <li class="modal-buynow__item">
          <img class="modal-buynow__item--img" src="" alt="" />
          <div
            class="modal-buynow__item--background modal-buynow__yellow"
          ></div>
          <div class="modal-buynow__item--container">ICE COFFEE</div>
        </li>
        <li class="modal-buynow__item">
          <img class="modal-buynow__item--img" src="" alt="" />
          <div
            class="modal-buynow__item--background modal-buynow__orange"
          ></div>
          <div class="modal-buynow__item--container">MILKSHAKE</div>
        </li>
      </ul>
      <form>
        <input type="text" />
        <input type="phone" />
        <input type="text" />
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>
