.contacts {
  background-image: linear-gradient(transparent 28.5%, $primary-bg-color 25% );
  
}

#contacts {
  padding-bottom: 20px;
}

.contacts_container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq(mobile) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;

  &__item {
    background-color: $primary-text-color;
    color: $secondary-text-color;
    padding-top: 40px;
    padding-bottom: 24px;
    padding-left: 32px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__institution {
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: $yellow-color;
  }

  &__institution_first_item,
  &__institution_third_item {
    width: 80px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__institution_second_item {
    width: 130px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    line-height: 120%;
  }

  &__font {
    font-family: $primary-font;
    color: $secondary-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
  }

  &__place {
    margin-right: 32px;
  }

  &__city {
    line-height: 186%;
    margin-bottom: 8px;
  }

  &__address {
    line-height: 183%;
    color: $products-orange-bg-color;
  }

  &__place::after,
  &__schedule::after {
    content: '';
    background-color: black;
    width: 216px;
    border: 1px solid #e1e1e1;
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__weekdays,
  &__time {
    line-height: 186%;
  }

  #time {
    color: $contacts-text-colore;
  }

  &__weekdays {
    margin-bottom: 8px;
  }

  &__connection {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    margin-bottom: 6px;
  }

  &__phone,
  &__email {
    line-height: 160%;
  }
}

.contacts-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

#contacts-buttons__locations,
#contacts-buttons__franchise {
  border-radius: 10px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 196px;
}
