header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: $primary-bg-color;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 20px;

  @include mq(mobile) {
    padding: 15px 20px;
  }

  @include mq(tablet) {
    padding: 20px 30px;
  }

  @include mq(desktop) {
    padding: 15px 20px;
  }
}

.nav-list {
  display: none;

  @include mq(desktop) {
    display: flex;
    justify-content: center;
  }

  &__item:hover,
  &__item:focus {
    color: $yellow-color;
  }

  &__item:not(:last-child) {
    @include mq(desktop) {
      margin-right: 30px;
    }
  }

  &__link {
    font-weight: 700;
    align-items: center;
  }
}

.burger {
  @include mq(tablet) {
    display: flex;
  }
}

.btn-menu {
  background-color: transparent;
  border: 0;
  padding: 0;
  fill: $primary-text-color;

  @include mq(tablet) {
    margin-right: 36px;
  }
  @include mq(desktop) {
    display: none;
  }
}

.header-btn {
  display: none;
  align-items: center;
  @include mq(tablet) {
    display: block;
    padding: 12px 36px;
  }
  &__icon {
    margin-left: 5px;
    fill: inherit;
  }
}
